<configuration>
	<contextName>Nightmare</contextName>
	<!-- console로 log 남기기 -->
  <appender name="SYSOUT" class="ch.qos.logback.core.ConsoleAppender">
   <encoder>
     <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

	<!-- 이 아래에 있는 애들 다 log로 찍겠다. -->
	<logger name="com.kyj.fx.nightmare" level="INFO" additivity="false">
		<appender-ref ref="SYSOUT" />
	</logger>
	
	<logger name="com.kyj.fx.groovy" level="INFO" additivity="false">
		<appender-ref ref="SYSOUT" />
	</logger>
	
	<logger name="org.apache.http.wire" level="ERROR" additivity="false">
		<appender-ref ref="SYSOUT" />
	</logger>
	
	
	<root level="INFO" additivity="false">
		<appender-ref ref="SYSOUT" />
	</root>

</configuration>
