.list-cell:filled:selected, .list-cell:filled:selected:hover, .list-cell:filled:selected:focused {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* 선택된 셀의 텍스트 색상을 설정합니다 (기본: 검정) */
    -fx-border-color: black; /* 테두리 색상을 검정으로 설정 */
    -fx-border-width: 1px; /* 테두리 두께를 1픽셀로 설정 */
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black; /* 기본 텍스트 색상을 설정합니다 (기본: 검정) */
}

#codeLabel{
	-fx-font-weight : bold;
}