.bor-root{
	-fx-background-image: url("Nightmare.png");
    -fx-background-size: stretch  ; /* 이미지를 컨테이너 크기에 맞춥니다 */
    -fx-background-position: center; /* 이미지를 중앙에 위치시킵니다 */
    -fx-background-repeat: no-repeat; /* 이미지를 반복하지 않습니다 */ 
    -fx-background-radius: 5.0;
    -fx-opacity: 0.9;
    -fx-cursor: hand ;
    
}
