.merged-text-field-table-cell {
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
    -fx-background-color: null;
     
    -fx-border-color: transparent transparent transparent transparent;
    
    /*-fx-border-color: transparent transparent transparent transparent;*/
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-background-color;
}


.merged-text-field-table-cell :odd{
    -fx-background: -fx-background-color;
}

.table-row-cell:odd {
    -fx-background: -fx-background-color;
}