<configuration>
	<!-- console로 log 남기기 -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-5level %d{HH:mm:ss.SSS} [%thread] %logger[%method:%line]-%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="consoleForLoginInterceptor"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-5level %d{yyyy-MM-dd HH:mm:ss} %logger[%method:%line] -%msg%n</pattern>
		</encoder>
	</appender>



	<!-- class만 따로 지정해서 이 클래스만 로그를 따로 관리할 수 있다. LoginInterceptor class 파일만 따로 
		로그 관리 -->
	<appender name="fileForLoginInterceptor"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log\fxeditor.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- d:\ testRollingFile 2015-04-07-15.log 파일 생성 -->
			<fileNamePattern>log\etmagt-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>▷ %-5level %d{YYYY-MM-dd HH:mm:ss} %logger[%method:%line] -%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="dbutil-fileForLoginInterceptor"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log\fxeditor-dbutil.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- d:\ testRollingFile 2015-04-07-15.log 파일 생성 -->
			<fileNamePattern>log\etmagt-dbutil-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>▷ %-5level %d{YYYY-MM-dd HH:mm:ss} %logger[%method:%line] -%msg%n</pattern>
		</encoder>
	</appender>

	<!-- 이 아래에 있는 애들 다 log로 찍겠다. -->
<!-- 	<logger name="com.kyj.fx.voeditor" level="DEBUG"> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->
<!-- 	<logger name="com.kyj.fx.voeditor" level="ERROR"> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="DB - LOGGER" level="DEBUG"> -->
<!-- 		<appender-ref ref="dbutil-fileForLoginInterceptor" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="com.kyj" level="DEBUG"> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="com.kyj.fx.behavior" level="DEBUG"> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="com.kyj.fx.rax" level="DEBUG"> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="com.kyj.fx.nashorn" level="DEBUG"> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->

	<!-- 이 아래에 있는 애들 다 log로 찍겠다. -->
	<logger name="org.apache.pdfbox" level="DEBUG">
		<appender-ref ref="console" />
	</logger>

	<!-- 이 아래에 있는 애들 다 log로 찍겠다. -->
	<!-- <logger name="org.springframework" level="DEBUG" /> -->
	<root level="DEBUG">
		<appender-ref ref="console" />
<!-- 		<appender-ref ref="fileForLoginInterceptor" /> -->
	</root>

</configuration>
